# Ignore Python virtual environments
.venv/
venv/
env/

# Ignore API keys and secrets (just in case!)
.env

# Ignore Python cache files (these are generated automatically)
__pycache__/
*.pyc
.ipynb_checkpoints/


# Ignore data files
data/raw/

# Ignore Operating System clutter
.DS_Store
Thumbs.db